.aside{
    background: $dark-blue-color;
    padding: 0 30px;
    .aside-header{
        margin: 35px 0 25px;
    }
    h2{
        color: #fff;
        margin: 0;
    }
    .clear-task-button{
        font-size: 14px;
        font-weight: normal;
        padding: 17px 0 0;
        cursor: pointer;
        color:#fff;
    }
    .card{
        margin-bottom: 25px;
        .card-title{
            font-weight: bold;
            text-decoration: line-through;
        }
        .card-text{
            text-decoration: line-through;
        }
    }
}