body{
    font-family: $font-family;
}
h1{
    margin-bottom: 20px;
    &:after{
        content: "";
        height: 2px;
        width: 100px;
        background: $pink-color;
        margin-top: 3px;
        display: block;
    }
}